*   {
    box-sizing:border-box;
}

body{
    background-color:yellow;
    font-family: 'Cantarell', sans-serif;
}

#container{
    width:100%;
    background-color:black;
    margin:0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Cantarell', sans-serif;
    color:red;
    margin: 0;
}

h1 {
    float:left;
    padding-left: 1em;
    padding-top: 1em;
}

#search {
    float:left;
    padding: 1.50em;
}

#search input{
    padding: 0.5em;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

#navagation { 
    background-color:red;
    width: 100%;
}
#navagation ul {
    list-style:none;
    padding: 0;
}
#navagation li {
    float: left;
    padding: 10px 20px;  
    border-right: 1px solid red;
}

#navagation li:hover {
    background-color:white;
    cursor: pointer;
}
#promotions{
    background-color:yellow;

}
#promotions span {
    float: left;
    text-align: center;
    padding:0.5em;
    font-weight:bold;
}

#promotions .arrow {
    width: 5%;
    background-color: white;
    font-size: 2em;
    padding: 0;
}
  
.promo {
    width:90%;
}

main {
  width: 100%;
  min-height: 350px;
}
main > aside{
    float: left;
    width: 20%;
    padding: 20px;
    background-color:white;
}
main > section {
    float: left;
    width:80%;
    padding:20px;
    background-color: black;
    color:white;
}

aside select {
    width:100%;
}

aside hr {
    border:none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.product-listing {
    list-style:none;
    margin: 0;
    padding: 0;
}
.product {
    width: 22%;
    background-color:blue;
    color: black;
    float: left;
    margin: 0px 20px 20px 0;
    height:360px;

}
.product img{
    width: 90%;
    margin:10px auto;
    display: block;
}
.product h4, .product p, .product a {
    margin: 0 ;
    text-align: center;
    display: block;
}
footer {
    background-color: white;
    text-align: center;
}

footer p {
   padding: 10px;
   margin: 0;
}